# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
typings/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# General
.DS_Store
Thumbs.db
*.bak
*.tmp
